<h2 mat-dialog-title>Create Vinyl</h2>
<mat-dialog-content>
  <form [formGroup]="createVinylForm" (ngSubmit)="createVinyl()">

    <div class="item" [ngClass]="{'invalid-feedback': submitted && f.name.errors}">
      <label for="name">Name</label>
      <i class="material-icons">description</i>
      <input type="text" placeholder="Name" formControlName="name" name="name" id="name" />
    </div>
    <div *ngIf="submitted && f.name.errors">
      <div class="error-msg" *ngIf="f.name.errors.maxlength">Name must not exceed 100 characters</div>
      <div class="error-msg" *ngIf="f.name.errors.minlength">Name must not be empty</div>
      <div class="error-msg" *ngIf="f.name.errors.required">Name is required</div>
    </div>

    <div class="item" [ngClass]="{'invalid-feedback': submitted && f.author.errors}">
      <label for="author">Author</label>
      <i class="material-icons">person</i>
      <input type="text" placeholder="Author" formControlName="author" name="author" id="author" />
    </div>
    <div *ngIf="submitted && f.author.errors">
      <div class="error-msg" *ngIf="f.author.errors.maxlength">Author must not exceed 100 characters</div>
      <div class="error-msg" *ngIf="f.author.errors.minlength">Author must not be empty</div>
      <div class="error-msg" *ngIf="f.author.errors.required">Author is required</div>
    </div>

    <div class="item" [ngClass]="{'invalid-feedback': submitted && f.price.errors}">
      <label for="price">Price</label>
      <i class="material-icons">attach_money</i>
      <input type="number" placeholder="Price" formControlName="price" name="price" id="price" min="0"/>
    </div>
    <div *ngIf="submitted && f.price.errors">
      <div class="error-msg" *ngIf="f.price.errors.min">Price can't be lower than 0</div>
      <div class="error-msg" *ngIf="f.price.errors.required">Price is required</div>
    </div>

    <div class="item" [ngClass]="{'invalid-feedback': submitted && f.genre.errors}">
      <label for="genre">Genre</label>
      <i class="material-icons">music_video</i>
      <input type="text" placeholder="Genre" formControlName="genre" name="genre" id="genre" />
    </div>
    <div *ngIf="submitted && f.genre.errors">
      <div class="error-msg" *ngIf="f.genre.errors.maxlength">Genre must not exceed 40 characters</div>
      <div class="error-msg" *ngIf="f.genre.errors.minlength">Genre must not be empty</div>
      <div class="error-msg" *ngIf="f.genre.errors.required">Genre is required</div>
    </div>

    <div class="item" [ngClass]="{'invalid-feedback': submitted && f.releaseYear.errors}">
      <label for="releaseYear">Release Year</label>
      <i class="material-icons">calendar_today</i>
      <input type="number" placeholder="Release Year" formControlName="releaseYear" name="releaseYear"
        id="releaseYear" min="0"/>
    </div>
    <div *ngIf="submitted && f.releaseYear.errors">
      <div class="error-msg" *ngIf="f.releaseYear.errors.min">Release year can't be lower than 0</div>
      <div class="error-msg" *ngIf="f.releaseYear.errors.required">Release year is required</div>
    </div>

    <div class="item" [ngClass]="{'invalid-feedback': submitted && f.stock.errors}">
      <label for="stock">Stock</label>
      <i class="material-icons">storage</i>
      <input type="number" placeholder="Stock" formControlName="stock" name="stock"
        id="stock" min="0"/>
    </div>
    <div *ngIf="submitted && f.stock.errors">
      <div class="error-msg" *ngIf="f.stock.errors.min">Stock can't be lower than 0</div>
      <div class="error-msg" *ngIf="f.stock.errors.required">Stock is required</div>
    </div>

    <button id="create" mat-raised-button type="submit">Create</button>
  </form>
</mat-dialog-content>

<div class="error-msg-general" *ngIf="errorMessage !== ''">
  {{errorMessage}}
</div>