@import "~src/styles/general-variables";
@import "~src/styles/general-mixins";

h2 {
  text-align: center;
  font-weight: 300;
  font-size: 2em;
  color: $color-emperor;
}

mat-dialog-content {

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lighten($color-emperor, 30%);
    margin-top: 5px;
  }
  
  .invalid-feedback {
    border: 1px solid $color-alert;
  }

  label {
    display: none;
  }

  i {
    color: lighten($color-emperor, 10%);
    border-right: 1px solid lighten($color-emperor, 50%);
    padding-left: 3px;
    padding-right: 3px;
    font-size: 20px;
  }

  input {
    min-width: 250px;
    padding: 10px 10px 0 10px;
    margin-bottom: 10px;
    border: none;
    color: $color-emperor;

    &:focus {
      outline: none;
    }

    &:-webkit-autofill {
      transition: background-color 99999s ease-in-out 0s;
    }
  }

  .error-msg {
    font-size: 12px;
    font-weight: 300;
    color: $color-alert;
  }  
}

#create {
  width: 100%;
  background-color: darken($color-hurricane, 10%);
  border-radius: none;
  color: white;
  margin-top: 20px;

  &:hover {
    background-color: $color-hurricane;
  }

  &:active {
    box-shadow: none;
  }
}

#alert {
  margin-top: 10px;
  color: darken($color-mandys-pink, 15%);
  text-align: center;
}

.error-msg-general {
  @include font-style(inherit, 14px, 300);
  text-align: center;
  color: $color-alert;
  margin-top: 5px;
}

