<div class="orders">
  <div class="row" id="columns">
    <p class="item">Items</p>
    <p class="item">Total</p>
    <p class="item">Placed On</p>
    <p class="item">Status</p>
  </div>

  <div class="row" *ngFor="let order of ordersView; let i = index" [ngStyle]="{'background-color': colorPalette[i]}">
    <div class="item">
      <div *ngFor="let vinyl of order.items">
        <p>{{vinyl.name}} (x{{vinyl.quantity}})</p>
      </div>
    </div>
    <div class="item">
      <p>{{totalPrice(order.items) | currency}}</p>
    </div>
    <div class="item">
      <p>{{order.creationDate | date: 'dd/MM/yyyy'}}</p>
    </div>
    <div class="item">
      <p>{{order.status}}</p>
    </div>
  </div>

</div>

<div class="orders-nav">
  <div class="orders-paging">
    <i class="material-icons" (click)="previousPage()">keyboard_arrow_left</i>
    <p>{{pageStartIndex + 1}} - {{pageEndIndex + 1}}</p>
    <i class="material-icons" (click)="nextPage()">keyboard_arrow_right</i>
  </div>
</div>