@import "~src/styles/general-variables";
@import "~src/styles/general-mixins";

.orders {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: $color-emperor;

  #columns {
    height: 40px;
    background-color: transparent;
    margin-bottom: 0;
    border: 0;
  }

  .row {
    @include ao-content-row();

    p {
      margin: 0;
      text-align: center;
    }
  }

  .item {
    flex: 1;
  }
}

.orders-nav {
  display: flex;
  justify-content: center;
  color: $color-emperor;

  .orders-paging {
    display: flex;
    align-items: center;

    p {
      margin: 0 10px 0 10px;
    }

    i {
      cursor: pointer;
    }
  }
}
