<footer>
  <ul>
    <div class="left-section">
      <li class ="logo">The Vinyl Shop</li>
      <li class="copyright">&copy; Catalin Chirila</li>
    </div>
    
    <div class="main-section">
      <li class="item">NEW RELEASES</li>
      <li class="item">ABOUT US</li>
  
      <div class="contact-us">
        <li class="item">CONTACT US</li>
        <li><i class="material-icons">mail_outline</i></li>
      </div>
    </div>
  </ul>
</footer>