@import "~src/styles/general-variables";
@import "~src/styles/general-mixins";
@import "~src/styles/responsive-breakpoints-mixins";

footer {
  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    li {
      text-align: center;
      letter-spacing: 0.16em;
      color: $color-hurricane;
      @include responsive-property(font-size, $xs-font-size-navbar,  $sm-font-size-navbar, $base-font-size-navbar);
    }

    .left-section {
      display: flex;
      flex-direction: column;
      width: 20%;

      @include responsive-property(display, none, none, none);
      @include lg {
        display: flex;
      }

      .logo {
        @include text-style($color-emperor, left, 0);
        font-size: 24px;
      }

      .copyright {
        @include font-style(inherit, 12px, thin);
        @include text-style($color-hurricane, left,0.08em);
        padding-left: 24px;
      }
    }

    .main-section {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-grow: 2;

      .item {
        height: 20px;

        &:hover {
          color: $color-emperor;
          cursor: pointer;
        }

        &:hover:after {
          content: "";
          display: block;
          margin: 0 auto;
          width: 15px;
          padding-bottom: 5px;
          border-bottom: 1px solid $color-mandys-pink;
        }
      }

      .contact-us {
        display: flex;
        align-items: center;

        &:hover {
          color: $color-mine-shaft;
          cursor: pointer;
        }

        i {
          color: $color-hurricane;
          margin-left: 5px;
          font-size: 17px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
