@import "~src/styles/general-variables";
@import "~src/styles/responsive-breakpoints-mixins";
@import "~src/styles/responsive-breakpoints-variables";

.genre-filter {
  display: flex;
  flex-direction: column;
  width: 276px;

  @include rwd-max($screen-lg-min) {
    width: 100%;
    border-bottom: 0.5px solid rgba(172, 172, 172, 0.58);
    margin-bottom: 50px;
  }
}
