@import "~src/styles/general-variables";
@import "~src/styles/general-mixins";

.selected {
    background-color: #878787;
    color: white;
    font-weight: 200;
}

.content {
    @include font-style(inherit, 18px, 300);
    @include size(90%, 55px);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;

    &:hover {
        cursor: pointer;
    }

    i {
        margin-left: auto;
        transform-origin: center;
        transform: rotate(45deg);
        color: white;
        font-size: 32px;
    }
}
