@import "~src/styles/general-variables";
@import "~src/styles/general-mixins";
@import "~src/styles/responsive-breakpoints-mixins";

h2 {
  margin: 0;
  color: $color-emperor;
  text-align: center;
  font-weight: 300;
  font-size: 2em;
}

.customer-orders {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: $color-emperor;

  #columns {
    height: 40px;
    background-color: transparent;
    margin-bottom: 0;
    border: 0;
  }

  .row {
    @include ao-content-row();
    width: 100%;

    p {
      margin: 0;
      text-align: center;
    }

    .status {
      display: flex;
      justify-content: center;

      select {
        background: transparent;
        border: none;
        color: #545353;
        @include font-style($font-general, 16px);
        @include responsive-property(font-size, $xs-font-size-ao-row, $sm-font-size-ao-row, $base-font-size-ao-row);

        &:focus {
          outline: none;
        }
      }
    }
  }

  .item {
    flex: 1;
  }
}

.customer-orders-nav {
  @include ao-content-nav(center);
  position: relative;

  .customer-orders-paging {
    @include ao-content-paging();
    height: 33px;
  }

  button {
    @include outline-button();
    position: absolute;
    left: 0;
  }
}

.no-orders {
  @include font-style($font-general, 32px, 200);
  margin: 0;
}
