<h2 *ngIf="orders.length > 0">Orders</h2>
<div class="customer-orders" *ngIf="orders.length > 0; else noOrders">
  <div class="row" id="columns">
    <p class="item">Total</p>
    <p class="item">Placed On</p>
    <p class="item">Placed By</p>
    <p class="item">Status</p>
  </div>

  <div class="row" *ngFor="let order of ordersView; let i = index" [ngStyle]="{'background-color': colorPalette[i]}">
    <div class="item">
      <p>{{order.cost | currency}}</p>
    </div>
    <div class="item">
      <p>{{order.orderDate}}</p>
    </div>
    <div class="item">
      <p>{{customer.firstName + ' ' + customer.lastName}}</p>
    </div>
    <div class="item status">
      <select (change)="changeOrderStatus($event.target.value, order)">
        <option *ngFor="let status of statuses" value="{{status}}" [selected]="status === order.status">{{status}}
        </option>
      </select>
    </div>
  </div>

</div>

<div class="customer-orders-nav" *ngIf="orders.length > 0">
  <button matRipple [matRippleColor]="ebebeb" (click)="updateStatuses()">UPDATE STATUSES</button>

  <div class="customer-orders-paging">
    <i class="material-icons" (click)="previousPage()">keyboard_arrow_left</i>
    <p>{{page?.startIndex + 1}} - {{page?.endIndex + 1}}</p>
    <i class="material-icons" (click)="nextPage()">keyboard_arrow_right</i>
  </div>
</div>

<ng-template #noOrders>
  <p class="no-orders">
    The user {{customer.firstName + ' ' + customer.lastName}} doesn't have any orders yet..
  </p>
</ng-template>