@import "~src/styles/general-variables";
@import "~src/styles/general-mixins";

.carousel {
  color: rgba(255, 255, 255, 0.788);
  margin-top: 50px;
  height: 130px;

  @include lg {
    margin-top: 120px;
  }

  @include rwd-min(482px) {
    height: 230px;
  }

  @include rwd-min(900px) {
    height: 381px;
  }

  .content {
    display: flex;

    .item {
      @include size($width-body-content, 381px);
      display: block;
      opacity: 0;

      // using delay to prevent left change show error
      &.fade_animation {
        transition: opacity 0.295s linear $transition-time-banner;
      }

      &.fade_animation_0 {
        transition: opacity 0.295s linear;
      }

      &.visible {
        opacity: 1;
      }

      &:last-child,
      &:first-child {
        opacity: 0;
      }

      &.visible_important {
        opacity: 1;
      }

      .banner-title {
        @include xs {
          padding-top: 15%;
        }
        @include font-style(BenchNine, 72px, 300);
        @include text-style(rgba(255, 255, 255, 0.95), center, 0.26em);
        @include responsive-property(
          font-size,
          $xm-font-size-banner-primary,
          $sm-font-size-banner-primary,
          $base-font-size-banner-primary
        );

        padding-top: 5%;
        margin: 0;
        text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.08);
      }

      .banner-artist {
        @include font-style(BenchNine, 36px, 300);
        @include text-style(rgba(255, 255, 255, 0.9), center, 0.26em);
        @include responsive-property(
          font-size,
          $xm-font-size-banner-secondary,
          $sm-font-size-banner-secondary,
          $base-font-size-banner-secondary
        );

        margin: 0;
        opacity: 0.89;
        text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.08);
      }

      .img {
        @include size($width-body-content, 0);
        display: block;
        background-size: cover;
        background-position: center;
        padding-bottom: 50%;
        mix-blend-mode: darken;
        opacity: 0.89;
        color: rgba(255, 255, 255, 0.68);
        text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.08);
      }
    }
  }

  .ball {
    @include size(8px, 8px);
    @include rwd-max(850px) {
      display: none;
    }

    border-radius: 50%;
    background: rgba(255, 255, 255, 0.44);
    border: 2px solid;
    opacity: 0.5;

    &.visible {
      opacity: 1;
    }
  }

  .click-area {
    width: 50px;
    text-align: center;

    i {
      font-size: 3em;
    }
  }
}
