@import "~src/styles/general-variables";
@import "~src/styles/general-mixins";

.customers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: $color-emperor;

  #columns {
    height: 40px;
    background-color: transparent;
    margin-bottom: 0;
    border: 0;
  }

  .row {
    @include ao-content-row();

    p {
      margin: 0;
      text-align: center;
    }
  }

  .item {
    flex: 1;
  }

  .show-orders {
    position: absolute;
    top: 4px;
    right: 4px;

    i {
      color: $color-emperor;
      font-size: 20px;
      cursor: pointer;
    }
  }
}

.customers-nav {
  display: flex;
  justify-content: center;
  color: $color-emperor;
  @include ao-content-nav(center);

  .customers-paging {
    @include ao-content-paging();

    .pagination-numbers {
      @include ao-pagination-numbers;
    }
  }
}
