<div class="customers">
  <div class="row" id="columns">
    <p class="item">First Name</p>
    <p class="item">Last Name</p>
    <p class="item">Email</p>
  </div>

  <div class="row" *ngFor="let user of customersView; let i = index" [ngStyle]="{'background-color': colorPalette[i]}">
    <div class="item">
      <p>{{user.firstName}}</p>
    </div>
    <div class="item">
      <p>{{user.lastName}}</p>
    </div>
    <div class="item">
      <p>{{user.email}}</p>
    </div>
    <div class="show-orders">
        <i class="material-icons" (click)="openCustomerOrders(user)" matTooltip="Show Orders"
          [ngStyle]="{'background-color': colorPalette[i]}">description</i>
      </div>
  </div>

</div>

<div *ngIf="customersView.length !== 0" class="customers-nav">
  <div class="customers-paging">
    <i class="material-icons" (click)="previousPage()">keyboard_arrow_left</i>
    <p class="pagination-numbers">{{page?.startIndex + 1}} - {{page?.endIndex + 1}}</p>
    <i class="material-icons" (click)="nextPage()">keyboard_arrow_right</i>
  </div>
</div>