@import "~src/styles/general-variables";
@import "~src/styles/general-mixins";
@import "~src/styles/responsive-breakpoints-mixins";

nav {
  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: $width-body-content;

    li {
      display: flex;
      align-items: center;
      @include text-style($color-hurricane, center, 0.16em);
      @include responsive-property(
        font-size,
        $xs-font-size-navbar,
        $sm-font-size-navbar,
        $base-font-size-navbar
      );
    }

    .logo {
      @include font-style($font-logo, 24px);
      @include text-style($color-emperor, left, 0);
      @include responsive-property(
        font-size,
        $xs-font-size-logo,
        $sm-font-size-logo,
        $base-font-size-logo
      );
    }

    .main-item {
      height: 20px;
      cursor: pointer;
      border-bottom: 1px solid transparent;

      @include responsive-property(
        font-size,
        $xs-font-size-navbar,
        $sm-font-size-navbar - 2px,
        $base-font-size-navbar
      );

      @include rwd-max(930px) {
        display: none;
      }

      &:hover {
        color: $color-mine-shaft;
        border-bottom: 1px solid $color-mandys-pink;
        cursor: pointer;
      }
    }

    .right-section {
      display: flex;
      align-items: center;

      .authentification {
        color: $color-emperor;
        margin-right: 35px;
        display: flex;
        align-items: center;
      }

      #auth-bar {
        padding: 0 3px 0 3px;

        &:hover {
          border-bottom: 1px solid transparent;
        }
      }

      #log-out {
        font-size: 13px;
        padding-bottom: 1px;
        padding-left: 3px;
      }

      i {
        color: $color-emperor;
        cursor: pointer;

        &:hover {
          color: $color-mine-shaft;
        }
      }

      span {
        border-bottom: 1px solid transparent;

        &:hover {
          color: $color-mine-shaft;
          border-bottom: 1px solid $color-mandys-pink;
          cursor: pointer;
        }
      }

      .cart-container {
        display: flex;

        .items-amount {
          @include size(12px, 12px);
          position: relative;
          top: 12px;
          left: 25px;
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 8px;
          background-color: red;
          color: white;
          border-radius: 50%;
          padding-left: 1px;
          letter-spacing: 1px;
        }
      }
    }
  }
}
