<nav>
  <ul>
    <li class="logo">The Vinyl Shop</li>
    <li class="main-item">TOP 2019</li>
    <li class="main-item">NEW RELEASES</li>
    <li class="main-item">NEWS</li>
    <div class="right-section">
      <li *ngIf="email === ''; else show_email" class="authentification">
        <span (click)="openLoginDialog()">LOG IN</span>
        <span id='auth-bar'>/</span>
        <span (click)="openRegisterDialog()">SIGN UP</span></li>

      <ng-template #show_email>
        <li class="authentification">
          <span (click)="goToProfile()" matTooltip="Account Overview">{{email}}</span>
          <i id="log-out" class="material-icons" (click)="logOut()" matTooltip="Log out">exit_to_app</i>
        </li>
      </ng-template>

      <li>
        <div class="cart-container">
          <p class="items-amount" *ngIf="cartItemsAmount !== 0">{{cartItemsAmount}}</p>
          <i class="material-icons" matTooltip="Shopping Cart" (click)="goToShoppingCart()">shopping_cart</i>
        </div>
      </li>
    </div>
  </ul>
</nav>