<div class="menu">
  <app-menu-item [name]="userMenuPath.SHOPPING_CART.name" [path]="userMenuPath.SHOPPING_CART.path"></app-menu-item>
  <app-menu-item [name]="userMenuPath.PROFILE.name" [path]="userMenuPath.PROFILE.path"></app-menu-item>

  <app-menu-item *ngIf="isCurrentUserStoreManager" [name]="userMenuPath.MANAGE_VINYLS.name" [path]="userMenuPath.MANAGE_VINYLS.path"></app-menu-item>
  <app-menu-item *ngIf="isCurrentUserStoreManager" [name]="userMenuPath.CUSTOMERS.name" [path]="userMenuPath.CUSTOMERS.path"></app-menu-item>
</div>