@import "~src/styles/general-variables";
@import "~src/styles/responsive-breakpoints-mixins";

.menu {
  display: flex;
  flex-direction: column;

  @include xs {
    width: 100%;
  }

  @include sm {
    width: 100%;
  }

  @include xl {
    width: 276px;
  }

  app-menu-item {
    &:focus {
      outline: none;
    }
  }
}
