<h2 mat-dialog-title>Log In</h2>
<mat-dialog-content>
  <form [formGroup]="loginForm" (ngSubmit)="login()" >
    <div class="item" [ngClass]="{'invalid-feedback': submitted && f.email.errors}">
      <label for="mail">Email</label>
      <i class="material-icons">email</i>
      <input type="text" placeholder="Email" formControlName="email" name="email" id="email" required />
    </div>
    <div *ngIf="submitted && f.email.errors">
      <div class="error-msg" *ngIf="submitted && f.email.errors.required">Email is required</div>
      <div class="error-msg" *ngIf="submitted && f.email.errors.email">Email must be a valid email address</div>
      <div class="error-msg" *ngIf="f.email.errors.maxlength">Email must not exceed 255 characters</div>
    </div>

    <div class="item" [ngClass]="{'invalid-feedback': submitted && f.password.errors}">
      <label for="password">Password</label>
      <i class="material-icons">vpn_key</i>
      <input type="password" placeholder="Password" formControlName="password" name="password" id="password" required />
    </div>
    <div *ngIf="submitted && f.password.errors">
      <div class="error-msg" *ngIf="submitted && f.password.errors.required">Password is required</div>
      <div class="error-msg" *ngIf="submitted && f.password.errors.minlength">Password must be at least 6 characters</div>
      <div class="error-msg" *ngIf="f.password.errors.maxlength">Password must not exceed 20 characters</div>
    </div>

    <button id="sign-up" mat-raised-button type="submit">Submit</button>

  </form>
</mat-dialog-content>

<div class="error-msg-general" *ngIf="errorMessage !== ''">
  {{errorMessage}}
</div>