@import "~src/styles/general-variables";
@import "~src/styles/general-mixins";
@import "~src/styles/responsive-breakpoints-mixins";

.selected {
    background-color: #dddddd3d;
    border-left: 5px #c5c5c5e0 solid;
    font-weight: 200;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;

    @include font-style(inherit, 18px, 300);
    @include size(90%, 55px);

    @include xs {
        font-size: $xs-font-size-ao-menu;
    }

    @include sm {
        font-size: $sm-font-size-ao-menu;
    }

    @include md {
        font-size: $base-font-size-ao-menu;
    }

    &:hover {
        cursor: pointer;
    }
}
