// General
$font-general: Roboto, "Helvetica Neue", sans-serif;
$width-body-content: 99%;
$transition-time-banner: 0.4s;

$color-emperor: #545353;
$color-hurricane: #847d7d;
$color-mine-shaft: #252525;
$color-mandys-pink: #f3b4b7;
$color-alert: red;

// Nav bar menu
$base-font-size-navbar: 14px;
$sm-font-size-navbar: 12px;
$xs-font-size-navbar: 11px;

// Logo
$font-logo: Pacifico, "Helvetica Neue", sans-serif;
$base-font-size-logo: 24px;
$sm-font-size-logo: 20px;
$xs-font-size-logo: 16px;

// Banner Primary Title
$base-font-size-banner-primary: 72px;
$sm-font-size-banner-primary: 50px;
$xm-font-size-banner-primary: 16px;

// Banner Second Title
$base-font-size-banner-secondary: 36px;
$sm-font-size-banner-secondary: 20px;
$xm-font-size-banner-secondary: 10px;

// General Icons
$base-font-size-icon: 24px;
$sm-font-size-icon: 20px;
$xm-font-size-icon: 16px;

// Account Overview Menu
$base-font-size-ao-menu: 18px;
$sm-font-size-ao-menu: 14px;
$xs-font-size-ao-menu: 13px;

// Account Overview Rows
$base-font-size-ao-row: 16px;
$sm-font-size-ao-row: 12px;
$xs-font-size-ao-row: 10px;

// Account Overview Buttons
$base-font-size-ao-button: 13px;
$xs-font-size-ao-button: 8px;

// Account Overview Pagination Numbers
$base-font-size-ao-pagination: 16px;
$sm-font-size-ao-pagination: 14px;
$xm-font-size-ao-pagination: 10px;