@import "~src/styles/general-variables";
@import "~src/styles/responsive-breakpoints-mixins";

// General
@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin font-style($family, $size, $weight: 400) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
}

@mixin text-style($color, $text-align, $letter-spacing) {
  color: $color;
  text-align: $text-align;
  letter-spacing: $letter-spacing;
}

@mixin responsive-icon() {
  @include responsive-property(
    font-size,
    $xm-font-size-icon,
    $sm-font-size-icon,
    $base-font-size-icon
  );
}

// Account Overview
@mixin page() {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@mixin ao-content-nav($justifyContent) {
  display: flex;
  justify-content: $justifyContent;
  color: $color-emperor;
}

@mixin ao-content-row() {
  height: 110px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 11px;
  position: relative;
  border-radius: 2px;
  @include responsive-property(font-size, $xs-font-size-ao-row, $sm-font-size-ao-row, $base-font-size-ao-row);
}

@mixin outline-button() {
  border: 1.2px solid $color-emperor;
  box-sizing: border-box;
  background: none;
  font-weight: 400;
  margin-top: 1.2px;
  color: $color-emperor;

  @include responsive-property(
    font-size,
    $xs-font-size-ao-button,
    $base-font-size-ao-button,
    $base-font-size-ao-button
  );

  @include sm {
    @include size(200px, 33px);
  }

  @include md {
    @include size(256px, 33px);
  }

  &:hover {
    background-color: rgba(235, 235, 235, 0.425);
  }

  &:focus {
    outline: none;
  }
}

@mixin ao-content-paging() {
  display: flex;
  align-items: center;

  p {
    margin: 0 10px 0 10px;
  }

  i {
    cursor: pointer;
  }
}

@mixin ao-pagination-numbers {
  text-align: center;
  @include responsive-property(
    font-size,
    $xm-font-size-ao-pagination,
    $sm-font-size-ao-pagination,
    $base-font-size-ao-pagination
  );
}
