@import "~src/styles/responsive-breakpoints-variables";
// Small devices
@mixin xs {
  @media (max-width: #{$screen-xs-max}) {
    @content;
  }
}

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// Custom devices
@mixin rwd-min($screen) {
  @media (min-width: $screen) {
    @content;
  }
}

@mixin rwd-max($screen) {
  @media (max-width: $screen) {
    @content;
  }
}

@mixin responsive-property($property, $xs-value, $sm-value, $md-value) {
  @include xs {
    #{$property}: $xs-value;
  }

  @include sm {
    #{$property}: $sm-value;
  }

  @include md {
    #{$property}: $md-value;
  }
}
