<form [formGroup]="deleteAccountForm" (ngSubmit)="deleteAccount()">

  <div class="user-info">
    <p>Account Details</p>
  </div>

  <div class="item">
    <label for="read-email">Email</label>
    <input type="email" placeholder="Email: {{email}} (Non editable)" id="read-email" readonly />
  </div>

  <div class="item">
    <label for="first-name">First Name</label>
    <input type="text" placeholder="First Name: {{firstName}} (Non editable)" id="first-name" readonly />
  </div>

  <div class="item">
    <label for="last-name">Last Name</label>
    <input type="text" placeholder="Last Name: {{lastName}} (Non editable)" id="last-name" readonly />
  </div>

  <p class="delete-account">Delete account</p>

  <div class="item" [ngClass]="{'invalid-feedback': submitted && f.email.errors}">
    <label for="mail">Enter email..</label>
    <input type="text" placeholder="Enter email.." formControlName="email" name="email" id="email" required />
  </div>
  <div *ngIf="submitted && f.email.errors">
    <div class="error-msg" *ngIf="submitted && f.email.errors.required">Email is required</div>
    <div class="error-msg" *ngIf="submitted && f.email.errors.email">Email must be a valid email address</div>
    <div class="error-msg" *ngIf="f.email.errors.maxlength">Email must not exceed 255 characters</div>
  </div>

  <div class="item" [ngClass]="{'invalid-feedback': submitted && f.password.errors}">
    <label for="new-password">Enter password..</label>
    <input type="password" placeholder="Enter password.." formControlName="password" name="password"
      id="password" required />
  </div>
  <div *ngIf="submitted && f.password.errors">
    <div class="error-msg" *ngIf="submitted && f.password.errors.required">Password is required</div>
    <div class="error-msg" *ngIf="submitted && f.password.errors.minlength">Password must be at least 6 characters</div>
    <div class="error-msg" *ngIf="f.password.errors.maxlength">Password must not exceed 20 characters</div>
  </div>

  <button id="delete-account-btn" mat-raised-button type="submit">Delete account</button>

</form>


<div class="error-msg-general" *ngIf="errorMessage !== ''">
  {{errorMessage}}
</div>