@import "~src/styles/general-variables";
@import "~src/styles/general-mixins";

form {
  margin-top: 40px;

  .item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5px;
    height: 55px;
  }

  label {
    display: none;
  }

  .delete-account {
    font-size: 18px;
    padding-top: 20px;
    text-align: center;
  }

  .user-info {
    font-size: 18px;
    padding: 0;
    margin: 0;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input {
    width: 100%;
    padding: 10px 10px 0 10px;
    margin-bottom: 10px;
    border: none;
    padding-bottom: 5px;
    border-bottom: 1px gray solid;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Roboto';

    &:focus {
      outline: none;
    }

    &:-webkit-autofill {
      transition: background-color 99999s ease-in-out 0s;
    }
  }

  .error-msg {
    font-size: 12px;
    font-weight: 300;
    color: $color-alert;
  }  
}

#delete-account-btn {
  width: 100%;
  background-color: darken($color-hurricane, 10%);
  border-radius: none;
  color: white;
  margin-top: 20px;

  &:hover {
    background-color: $color-hurricane;
  }

  &:active {
    box-shadow: none;
  }
}

#alert {
  margin-top: 10px;
  color: darken($color-mandys-pink, 15%);
  text-align: center;
}

.error-msg-general {
  @include font-style(inherit, 14px, 300);
  text-align: center;
  color: $color-alert;
  margin-top: 5px;
}
