@import "~src/styles/general-variables";
@import "~src/styles/general-mixins";
@import "~src/styles/responsive-breakpoints-mixins";

.manage-vinyls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: $color-emperor;

  #columns {
    height: 40px;
    background-color: transparent;
    margin-bottom: 0;
    border: 0;
    border: none;
    box-shadow: none;
  }

  .row {
    @include ao-content-row();

    p {
      margin: 0;
      text-align: center;
    }
  }

  .item {
    flex: 1;
  }

  .edit-icons {
    position: absolute;
    top: 4px;
    right: 4px;
    display: flex;

    .edit-vinyl {
      @include responsive-property(font-size, $xs-font-size-ao-row, $sm-font-size-ao-row, $base-font-size-ao-row);
      color: $color-emperor;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .delete-vinyl {
      @include responsive-icon();
      color: $color-emperor;
      transform: rotate(45deg);
      cursor: pointer;
    }
  }
}

.manage-vinyls-nav {
  @include ao-content-nav(center);
  position: relative;

  .manage-vinyls-paging {
    @include ao-content-paging();
    height: 33px;

    .pagination-numbers {
      @include ao-pagination-numbers;
    }
  }

  button {
    @include outline-button();
    position: absolute;
    left: 0;
    height: 33px;
  }

}

.vinyls-empty {
  display: flex;
  justify-content: center;
  @include font-style($font-general, 32px, 200);
  margin-top: 50px;
}