<div *ngIf="vinylsView.length !== 0" class="manage-vinyls">
  <div class="row" id="columns">
    <p class="item">Name</p>
    <p class="item">Author</p>
    <p class="item">Price</p>
    <p class="item">Genre</p>
    <p class="item">Release Year</p>
    <p class="item">Stock</p>
  </div>

  <div class="row" *ngFor="let vinyl of vinylsView; let i = index" [ngStyle]="{'background-color': colorPalette[i]}">
    <p class="item">{{vinyl.name}}</p>
    <p class="item">{{vinyl.author}}</p>
    <p class="item">{{vinyl.price | currency}}</p>
    <p class="item">{{vinyl.genre}}</p>
    <p class="item">{{vinyl.releaseYear}}</p>
    <p class="item">{{vinyl.stock}}</p>
    <div class="edit-icons">
      <i class="material-icons edit-vinyl" (click)="editVinyl(vinyl)" matTooltip="Edit Vinyl">edit</i>
      <i class="material-icons delete-vinyl" (click)="deleteVinyl(vinyl)" matTooltip="Delete Vinyl" [ngStyle]="{'background-color': colorPalette[i]}">add</i>
    </div>
  </div>
</div>

<div *ngIf="vinylsView.length !== 0" class="manage-vinyls-nav">
  <button matRipple [matRippleColor]="ebebeb" (click)="createVinyl()">CREATE VINYL</button>
  <div class="manage-vinyls-paging">
    <i class="material-icons" (click)="previousPage()">keyboard_arrow_left</i>
    <p class="pagination-numbers">{{page?.startIndex + 1}} - {{page?.endIndex + 1}}</p>
    <i class="material-icons" (click)="nextPage()">keyboard_arrow_right</i>
  </div>
</div>

<div *ngIf="vinylsView.length === 0" class="vinyls-empty">
  There aren't any vinyls yet..
</div>