<div class="vinyl-shopping-list">
  <app-vinyl *ngFor="let vinyl of vinyls | filter:searchText | tagFilter:tags" [id]="vinyl.id" [name]="vinyl.name" [price]="vinyl.price" [author]="vinyl.author" class="vinyl-item"></app-vinyl>
  <p class="no-result" *ngIf="(vinyls | filter:searchText | tagFilter:tags).length === 0">
      No result...
  </p>
</div>