@import "~src/styles/general-variables";
@import "~src/styles/general-mixins";
@import "~src/styles/responsive-breakpoints-mixins";

.vinyl-shopping-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 9%;

  @include rwd-max(1040px) {
    margin: 0;
    justify-content: center;
  }

  .vinyl-item {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 73px;
  }

  .no-result {
    @include font-style(inherit, 32px, 200);
    height: 55px;
    margin: 0 0 0 20px;
    line-height: 55px;
  }
}