@import "~src/styles/general-variables";
@import "~src/styles/general-mixins";

.genre-filter {
  @include font-style(inherit, 36px, 200);
  color: $color-emperor;
  width: 276px;
  border-bottom: 0.5px solid rgba(172, 172, 172, 0.58);
}

.shopping-area {
  display: flex;
  justify-content: flex-start;
}