@import "~src/styles/general-variables";
@import "~src/styles/general-mixins";
@import "~src/styles/responsive-breakpoints-mixins";

.vinyl {
  @include font-style(inherit, 14px, 300);
  @include text-style(inherit, center, 0.16em);
  display: flex;
  flex-direction: column;

  p:nth-of-type(2) {
    color: $color-emperor;
  }

  img {
    @include size(256px, 216px);
  }

  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  button {
    @include outline-button();

    @include xs {
      width: 256px;
      height: 33px;
    }

    @include sm {
      width: 256px;
      height: 33px;
    }
  }
}
