<div class="vinyl">
  <img src="../../assets/img/vinyl/vinyl_item_1.png" alt="vinyl cover">
  <p>{{name}} - {{price}}$</p>
  <p>{{author}}</p>
  <button matRipple [matRippleColor]="ebebeb" (click)="processVinyl()">ADD TO CART</button>
</div>
