@import "~src/styles/general-variables";
@import "~src/styles/general-mixins";
@import "~src/styles/responsive-breakpoints-mixins";

nav {
  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100%;

    li {
      @include text-style($color-hurricane, center, 0.16em);
      @include responsive-property(font-size, $xs-font-size-navbar,  $sm-font-size-navbar, $base-font-size-navbar);
    }

    .logo {
      cursor: pointer;
      @include font-style($font-logo, 24px);
      @include text-style($color-emperor, left, 0);
      @include responsive-property(font-size, $xs-font-size-logo, $sm-font-size-logo, $base-font-size-logo);
    }

    .main-item {
      height: 20px;
      color: $color-emperor;
      cursor: pointer;

      &:after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 15px;
        padding-bottom: 5px;
        border-bottom: 1px solid $color-mandys-pink;
      }
    }

    .home {
      cursor: pointer;
      height: 20px;

      @include rwd-max(400px) {
        display: none;
      }

      &:hover {
        color: $color-emperor;
        border-bottom: 1px solid $color-mandys-pink;
      }
    }
  }
}
