@import "~src/styles/general-mixins";
@import "~src/styles/responsive-breakpoints-mixins";

.page {
  @include page();

  .main-section {
    margin-top: 30px;
    margin-bottom: 200px;

    @include xl {
      display: flex;
      margin-top: 80px;
    }

    app-menu {
      @include xl {
        margin-top: 40px;
        margin-right: 22px;
      }
    }

    app-shopping-cart {
      width: 100%;
    }

    app-orders {
      width: 100%;
    }

    router-outlet {
      width: 0;
    }

    .content-container {
      width: 100%;
    }
  }

  app-footer {
    margin-top: auto;
  }
}
