<div class="page">
    <app-ao-navbar></app-ao-navbar>
    <div class="main-section">
        <app-menu></app-menu>
        <div class="content-container">
            <router-outlet></router-outlet>
        </div>
    </div>

    <app-footer></app-footer>
</div>