/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400");
@import url("https://fonts.googleapis.com/css?family=BenchNine:300,400");
@import "~src/styles/general-variables";
@import "~src/styles/responsive-breakpoints-mixins";

html {
  min-height: 100%;
  min-width: 100%;
  height: 100%;
  width: 100%;

  @include rwd-max(200px) {
    overflow: auto;
  }
}

body {
  margin: 0 auto;
  font-family: $font-general;
  height: 100%;
  
  @include responsive-property(width, 95%, 95%, 85%);
  @include rwd-max(200px) {
    overflow: auto;
  }
}

.snackbar {
  background-color: $color-emperor;
}

.snackbar button {
  color: white;
}
