@import "~src/styles/general-variables";
@import "~src/styles/general-mixins";
@import "~src/styles/responsive-breakpoints-mixins";
@import "~src/styles/responsive-breakpoints-variables";

.page {
  @include page();

  .genre-filter-title {
    color: $color-emperor;
    width: 276px;
    border-bottom: 0.5px solid rgba(172, 172, 172, 0.58);

    @include font-style(inherit, 36px, 200);
    @include rwd-max($screen-lg-min) {
      width: 100%;
    }
  }

  .shopping-area {
    display: block;
    width: 100%;

    @include sm {
      display: block;
    }

    @include lg {
      display: flex;
    }
  }

  app-footer {
    margin-top: auto;
  }
}