<div class="page">
    <app-navbar></app-navbar>

    <app-carousel-banner></app-carousel-banner>
    <app-search-bar></app-search-bar>

    <div class="genre-filter-title">GENRE FILTER</div>
    <div class="shopping-area">
        <app-genre-filter></app-genre-filter>
        <app-vinyl-shopping-list></app-vinyl-shopping-list>
    </div>

    <app-footer></app-footer>
</div>