@import "~src/styles/general-variables";
@import "~src/styles/general-mixins";
@import "~src/styles/responsive-breakpoints-mixins";

div {
  @include size($width-body-content, 49px);
  background: rgba(228, 223, 223, 0.18);
  display: flex;
  align-items: center;
  margin-bottom: 50px;

  @include lg {
    margin-bottom: 128px;
  }

  i {
    font-size: 32px;
    color: #a39c9c;
    margin-left: 10px;
    margin-right: 10px;
  }

  input {
    @include font-style(inherit, 30px, 200);
    line-height: normal;
    border: none;
    background-color: transparent;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}
