<div>
  <i class="material-icons">search</i>
  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search in the catalog..." (ngModelChange)="search($event)">
</div>
