@import "~src/styles/general-variables";
@import "~src/styles/general-mixins";

.shopping-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: $color-emperor;

  #columns {
    height: 40px;
    background-color: transparent;
    margin-bottom: 0;
    border: 0;
    border: none;
    box-shadow: none;
  }

  .row {
    @include ao-content-row();

    p {
      margin: 0;
      text-align: center;
    }
  }

  .item {
    flex: 1;
  }

  .quantity {
    display: flex;
    justify-content: center;
    align-items: center;

    #quantity-input {
      width: 55px;
      background-color: transparent;
      border: none;
      color: $color-emperor;
      text-align: center;
      font-size: 18px;

      &:focus {
        outline: none;
      }
    }

    i {
      @include responsive-icon();
      cursor: pointer;
    }

    #subtract {
      margin-right: 12px;
    }

    #add {
      margin-left: 12px;
    }
  }

  .remove-vinyl {
    position: absolute;
    top: 4px;
    right: 4px;

    i {
      @include responsive-icon();
      color: $color-emperor;
      transform: rotate(45deg);
      cursor: pointer;
    }
  }
}

.cart-nav {
  @include ao-content-nav(space-between);

  button {
    @include outline-button();
  }

  .cart-paging {
    @include ao-content-paging();

    .pagination-numbers {
      @include ao-pagination-numbers;
    }
  }
}

.cart-empty {
  display: flex;
  justify-content: center;
  @include font-style($font-general, 32px, 200);
  margin-top: 50px;
}