<div class="shopping-cart" *ngIf="!isCartEmpty">
  <div class="row" id="columns">
    <p class="item">Item</p>
    <p class="item">Quantity</p>
    <p class="item">Price</p>
    <p class="item">Total price</p>
  </div>

  <div class="row" *ngFor="let vinyl of vinylsView; let i = index" [ngStyle]="{'background-color': colorPalette[i]}">
    <div class="item">
      <p>{{vinyl.name}}</p>
      <p>{{vinyl.author}}</p>
    </div>
    
    <div class="item quantity">
      <i class="material-icons" id="subtract" (click)="subtractQuantity(vinyl)">remove</i>
      <p>{{vinyl.quantity}} x</p>
      <i class="material-icons" id="add" (click)="incrementQuantity(vinyl)">add</i>
    </div>

    <p class="item">{{vinyl.price | currency}}</p>
    <p class="item">{{vinyl.totalPrice | currency}}</p>
    <div class="remove-vinyl">
      <i class="material-icons" (click)="removeVinyl(vinyl)" matTooltip="Remove Vinyl"
        [ngStyle]="{'background-color': colorPalette[i]}">add</i>
    </div>
  </div>
</div>

<div class="cart-nav" *ngIf="!isCartEmpty">
  <button matRipple [matRippleColor]="ebebeb" matTooltip="Save changes like quantity update or vinyl removal" (click)="saveChanges()">SAVE CHANGES</button>
  <div class="cart-paging">
      <i class="material-icons" (click)="previousPage()">keyboard_arrow_left</i>
      <p class="pagination-numbers">{{page?.startIndex + 1}} - {{page?.endIndex + 1}}</p>
      <i class="material-icons" (click)="nextPage()">keyboard_arrow_right</i>
  </div>
  
  <button matRipple [matRippleColor]="ebebeb" (click)="placeOrder()">CHECKOUT</button>
</div>

<div class="cart-empty" *ngIf="isCartEmpty">
  Shopping Cart is empty..
</div>